<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<%= yield :css %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	<%= yield :js %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render "layouts/menu"%>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
